<!doctype html5>
<html>
<head>
<link href="static/styles.css" rel="stylesheet">
<meta name="mobile-web-app-capable" content="yes">

</head>
<title>Room Automation</title>
<body>
<svg id="power" viewBox="0 0 177 202" >
        <style>
            .style1 {
                fill:	#aa0000;
                stroke-width:	3.15789474;
                marker:	none;
            }
        </style>
        <path inkscape:connector-curvature="0" d="m 34.09 49.16 a 15 15 0 0 0 -11.56 5.12 C 8.56 69.82 0 90.5 0 113 c 0 48.2 39.38 87.69 87.69 87.69 48.2 0 87.72 -39.38 87.72 -87.69 0 -22.5 -8.59 -43.18 -22.56 -58.72 a 15 15 0 1 0 -22.31 20.06 c 9.23 10.26 14.88 23.75 14.88 38.66 0 32.09 -25.72 57.69 -57.72 57.69 C 55.6 170.69 30 145 30 113 30 98.1 35.62 84.61 44.84 74.34 a 15 15 0 0 0 -10.75 -25.19 z" class="style1 variableOpacity"/>
        <path inkscape:connector-curvature="0" d="M 87.56 -0.22 A 15 15 0 0 0 72.81 15 l 0 98 a 15 15 0 1 0 30 0 l 0 -98 a 15 15 0 0 0 -15.25 -15.22 z" class="style1 variableOpacity"/>
    </g>
</svg>

<div class="color slider variableOpacity"></div>

<div class="brightness slider variableOpacity"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="static/jquery.nouislider.min.js"></script>
<link href="static/jquery.nouislider.css" rel="stylesheet">
<script src="static/pageScripts.js"></script>
</body>
</html>
